:root {
    --background: rgb(149 167 152);
    --purple: rgba(208, 144, 202, 100);
}
header {
    width: 100%;
    text-align: center;


}
.title {
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: -5px 3px 5px rgb(201, 157, 77);
    color: black;
}
.title-font {
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: -5px 3px 5px rgb(201, 157, 77)
    
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: whitesmoke;
    /*list-style: none;
    height: 75px;
    align-items: center;
    border-bottom: 10px solid rgba(208, 144, 202, 100);
    font-size: 45px;
   background-color: whitesmoke;*/
}
/*
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    height: 75px;
    align-items: center;
    border-bottom: 10px solid rgba(208, 144, 202, 100)
}
*/
a {
    text-decoration: none;
    list-style: none;
    border-bottom: 10px solid rgba(208, 144, 202, 100);
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-style: oblique;
}


.profile-pic-container {
    display: flex;
    justify-content: center;
}

.profile-pic {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: orange;
}


.style1 {
    position: relative;
    top: -75px;
    z-index: -5;
    height: 400px;
    width: 100%;
    background-color: var(--purple);
}
.about-me {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    font-weight: lighter;
    font-style: normal ;
    position: relative;
    bottom: 475px;
}
body {
    background: var(--background);

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        text-align: center;
    }
    .card-container{
        flex-direction: column;
        align-items: center;
    }
}
    
