:root {
    --background: rgb(149 167 152);
    --purple: rgba(208, 144, 202, 100);
}

body {
    font-family: "Audiowide", sans-serif;
}

a {
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: rgb(85, 40, 85);
    border-bottom: 5px solid black;
    border-left: 7px ridge rgb(85, 40, 85);
    border-right: 7px ridge rgb(85, 40, 85);
    box-shadow: -4px 4px 5px rgba(77, 74, 74, 0.767);
    transform: rotate(5deg);
}
a:active {
    color: red
}
a:focus {
    color: rgb(85, 40, 85);
    border-bottom: 5px solid black;
    border-left: 7px ridge rgb(85, 40, 85);
    border-right: 7px ridge rgb(85, 40, 85);
    box-shadow: -4px 4px 5px rgba(77, 74, 74, 0.767);
}

.nav {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(228, 174, 74);
    font-family: "Audiowide", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    border-left: black solid 10px;
}
.about-me {
    margin: 0px 30px;
    margin-left: 100px;
}
.projects {
    margin: 0px 30px;;
}
.contact-me {
    margin: 0px 30px;
}

.introduction {
    background:rgba(85, 40, 85, 0.692);
    width: 500px;
    text-align: left;
    border-left: 10px solid rgb(228, 174, 74);
    padding-left: 0px;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    margin-top: 50px;

}

.about-me-section {
    width: 300px;
    height: 300px;
    margin-top: 40px;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(228, 174, 74)ange;
    border-left: 10px solid rgb(228, 174, 74);
}

.img-1{
    display: flex;
    justify-content: start;
    background-image: image(black, );
}

.pic1 {
    position: static;
    height: 300px;
    border: 20px;
}

.aligner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}
.whole-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px;
}

#grad-left {
    width: 100px;
    height: 2000px;
    border-left: 10px solid black;
    background-image: linear-gradient(to bottom, rgb(85, 40, 85), rgb(228, 174, 74) );
    margin: 50px 0px;
}

#grad-right {
    width: 100px;
    height: 2000px;
    border-right: 10px solid black;
    background-image: linear-gradient(to bottom, rgb(228, 174, 74), rgb(85, 40, 85) );
    margin: 50px 0px;
}

 





















/*                            ORIGINAL TRY
header {
    width: 100%;
    text-align: center;


}
.title {
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: -5px 3px 5px rgb(201, 157, 77);
    color: black;
}
.title-font {
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: -5px 3px 5px rgb(201, 157, 77)
    
}

.heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;

}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    list-style: none;
    border-bottom: 10px solid rgba(208, 144, 202, 100);
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-style: oblique;
}

.profile-pic-container {
    display: flex;
    justify-content: center;
}

.profile-pic {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: orange;
}

.style1 {
    position: relative;
    top: -75px;
    z-index: -5;
    height: 400px;
    width: 100%;
    background-color: var(--purple);
}
.about-me {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    font-weight: lighter;
    font-style: normal ;
    position: relative;
    bottom: 475px;
}


body {
    background: var(--background);

}

.card-container {
    position: relative;
    bottom: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;

}

.contact-links {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        text-align: center;
    }
    .card-container{
        flex-direction: column;
        align-items: center;
    }
    .contact-links {
        flex-direction: column;
        text-align: center;
    }
}
    
.expand:hover {
    position: relative;
    top: 20px;
    left: 30px;
    height: auto;
    width: 500px;
    display: block;
    z-index: 900;

}

*/