:root {
    --background: rgb(149 167 152);
    --purple: rgba(208, 144, 202, 100);
}

h1, h2, h3, p, article {
    font-family: "Audiowide", sans-serif;
}

*{
    background-color: rgb(115, 115, 115);
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}
a:visited {
    color: black;
}

a:active {
    color: rgb(85, 40, 85);
}

a:hover {
    color: rgb(85, 40, 85);
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-left: 7px solid rgb(85, 40, 85);
    border-right: 7px solid rgb(85, 40, 85);
    box-shadow: -4px 4px 5px rgba(77, 74, 74, 0.767);
    transform: rotate(5deg);
}

a:focus {
    color: rgb(85, 40, 85);
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-left: 7px solid rgb(85, 40, 85);
    border-right: 7px solid rgb(85, 40, 85);
    box-shadow: -4px 4px 5px rgba(77, 74, 74, 0.767);
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 6.5rem;
    align-items: center;
    background-color: rgb(228, 174, 74);
    font-family: "Audiowide", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    border-left: black solid 10px;
    border-right: black solid 10px;
    
}

.projects {
    margin: 30px 30px;;
}
.contact-me {
    margin: 0px 30px;
}

.introduction {
    background:rgba(85, 40, 85, 0.692);
    width: 500px;
    text-align: left;
    border-left: 10px solid rgb(228, 174, 74);
    padding-left: 0px;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    margin-top: 50px;

}

.about-me-section {
    width: 800px;
    font-size: 25px;
    height: 300px;
    margin-top: 40px;
    text-align: left;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
    /* background-color: rgb(228, 174, 74); */
    border-left: 10px solid rgb(228, 174, 74); 
}

/* .img-1{
    display: flex;
    justify-content: start;
    background-image: image(black, );
} */

.pic1 {
    position: static;
    height: 400px;
    margin-top: 25px;
    border: 20px;
    border-radius: 200px
}


.whole-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grad-left {
    position: fixed;
    left: 0px;
    height: 100%;
    width: 110px;
    border-left: 10px solid black;
    background-image: linear-gradient(to bottom, rgb(85, 40, 85), rgb(228, 174, 74) );
}

#grad-right {
    position: fixed;
    right: 0px;
    height: 100%;
    width: 110px;
    border-right: 10px solid black;
    background-image: linear-gradient(to bottom, rgb(228, 174, 74), rgb(85, 40, 85) );
}

.projects {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    margin-top: 110px;
    align-items: center;
}

.projects-label {
    display: block;
    font-size: 50px;
    margin-top: 50px;
}

.decoration {
    display: flex;
    flex-direction: column;
    margin: 25px 0px;
}

footer {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;


}
